<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wisdom.mapper.UserInfoMapper">
	
	<select id="getUserList" parameterType="string" resultType="HashMap">
	  	select * from userinfo;
	</select>
    <update id="updateUserInfo" parameterType="com.wisdom.model.UserInfo">
        update wis_userinfo set
        password=#{password},
        date_updated=now()
        <!-- 
        <isNotNull  prepend="," property="username"> 
        	username=#{userName} 
        </isNotNull>
         -->
        where account_id=#{accountId}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM userinfo WHERE id=#{id}
    </delete>

    <select id="getUserInfoByName" resultType="com.wisdom.model.UserInfo" parameterType="string">
        select username "userName",password,account_id "accountId",account_type "accountType" 
        from wis_userinfo where username = #{userName}
    </select>

</mapper>